body {
    overflow: hidden;
    margin: 0;
}

canvas {
    /* -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
    position: absolute;
    top: 0;
    bottom: 0; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

footer {
    font-family: 'Roboto', sans-serif;
    z-index: 10;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
}
